h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $font_family_brand;
    font-weight: $font_weight_brand;
    text-transform: uppercase;
}

h1,.h1 {
    font-size: $font_size_h1;
    line-height: $line_height_h1;
}
h2,.h2 {
    font-size: $font_size_h2;
    line-height: $line_height_h2;
}
h3,.h3 {
    font-size: $font_size_h3;
    line-height: $line_height_h3;
}

.section_title {
    text-align: center;

    flex: 100%;

    margin-bottom: 8px;
}

body,input {
    font-family: $font_family_main;
    font-weight: $font_weight_main;
    font-size: $font_size_main;
    color: $textColor_black;
}

a {
    color: $textColor_black;
}