.horizontal_list {
    @include flex($flex-wrap: wrap, $align-content: flex-start, $gaps: 32px);
}

.category_item {
    flex: 1;
    height: 456px;

    border-radius: 4px;
    overflow: hidden;

    .item_photo {
        width: 100%;
        height: 100%;
    
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
}

.shop_item {
    @extend .category_item;

    height: 496px;
    background-color: $backgroundColor_grey_dark;
    border: 1px solid;
	border-color: $border_color;

    @include flex($flex-direction: column, $align-items: center);

    .item_photo {
        @extend .item_photo;

        height: 420px;
    }
}

.item_title {
    @extend .h3;
    text-decoration: none;
    text-align: center;
}

.item_frame {
    position: relative;
    bottom: 100%;
    height: 100%;
    width: 100%;
    z-index: 10;

    background-color: rgba($brand_color, 0.25);
    background-blend-mode: multiply;

    @include flex($justify-content: center, $align-items: center);

    @extend .item_title;
    color: $textColor_white;

    transition: background-color 0.5s ease-in;

    &:hover {
        background-color: rgba($brand_color, 0.75);
    }
}

@media all and (max-width: $small_screen_breakpoint) {
    .horizontal_list {
        gap: 16px;
    }
}

@media all and (max-width: $tablet_breakpoint) {
    .category_item {
        flex: 49%;

        height: 256px;
    }
    .horizontal_list {
        gap: 8px;
    }
}

@media all and (max-width: $mobile_breakpoint) {
	.category_item {
        flex: 100%;
	}
    .horizontal_list {
        gap: 8px;
    }
}