.newsletter_form {
    @include flex($flex-wrap: wrap, $justify-content: center, $gaps: 8px);

    width: 40%;
}

input {
    flex: 1;
    height: 36px;
    padding: 0 8px;

    border: 2px solid;
    border-color: $border_color;
    border-radius: 4px;
}

@media all and (max-width: $tablet_breakpoint) {
    .newsletter_form {
        width: 60%;
    }
}