#site_navbar {
	width: 100%;
	height: 80px;
	padding: 4px 64px;
	
	background-color:  $ui_background_color;
	
	border-bottom: 1px solid;
	border-color: $border_color;

	will-change: height;
}

.desktop_navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100%;
}

.mobile_navbar {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100%;
}

.navbar_menu {
	flex: 1 1 0;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

.primary_menu {
	justify-content: flex-start;
}

.secondary_menu {
	justify-content: flex-end;
}

.menu_item {
	a {
		text-decoration: none;
		display: block;
		padding: 16px 8px;
		
		color: $dark_text_color;
		font-family: $main_font_family;
		text-transform: uppercase;
		font-size: $main_font_size;
	}
}

.mobile_button {
	padding: 4px;

	cursor: pointer;

	svg {
		fill: $dark_text_color;
	}
}

.brand_logo {
	height: 64px;
	
	font-family: $brand_font_family;
	font-size: 40px;
	line-height: 62px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	
	color: $brand_color;
}

@media all and (max-width: $small_screen_breakpoint) {
	#site_navbar {
		height: 160px;
	}

	.desktop_navbar {
		flex-wrap: wrap;
	}

	.brand_logo {
		order: 1;
		flex-basis: 100%;
	}

	.navbar_menu {
		order: 2;
	}

}

@media all and (max-width: $tablet_breakpoint) {
	#site_navbar {
		height: 60px;
		position: sticky;
		top: 0;
		z-index: 100;
	}

	.desktop_navbar {
		display: none;
	}

	.mobile_navbar {
		display: flex;
	}

	.brand_logo {
		flex: 2 2 0;
		order: 2;
		

		height: 51px;
		font-size: 24px;
		line-height: 51px;

		align-self: flex-start;

	}
}

@media all and (max-width: $mobile_breakpoint) {
	#site_navbar {
		padding: 4px 8px;
	}
}