#site_navbar {
	width: 100%;
	height: 80px;
	padding: 4px 64px;
	
	background-color: $backgroundColor_grey_dark;
	
	border-bottom: 1px solid $border_color;

	will-change: height;
}

.desktop_navbar {
	@include flex($justify-content: space-between, $align-items: center);

	height: 100%;
}

.mobile_navbar {
	@include flex($justify-content: space-between, $align-items: center);
	display: none;

	height: 100%;
}

.navbar_menu {
	flex: 1 1 0;
	
	@include flex($align-items: center);
}

.primary_menu {
	justify-content: flex-start;
}

.secondary_menu {
	justify-content: flex-end;
}

.menu_item {
	a {
		display: block;
		padding: 16px 8px;
		
		text-decoration: none;
		text-transform: uppercase;
	}
}

.mobile_button {
	padding: 4px;

	cursor: pointer;

	svg {
		fill: $textColor_black;
	}
}

.brand_logo {	
	@extend .h2;
	text-decoration: none;
	text-align: center;
	
	color: $brand_color;
}


// I don't really like how this looks, but I don't quite know how to improve it.
.dropdown_menu {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	padding: 8px 64px;

	@include flex($align-items: stretch);
	display: none;

	background-color: $backgroundColor_grey_dark;
	border-bottom: 1px solid;
	border-color: $border_color;

	width: 100%;
}

.dropdown_list {
	margin-left: 0;
    padding-left: 16px;

	flex: 1;

    list-style: none;
    border-left: 1px solid;
    border-color: $border_color;

    li a {
        text-align: left;
    }
}

@media all and (max-width: $small_screen_breakpoint) {
	#site_navbar {
		height: 160px;
	}

	.desktop_navbar {
		flex-wrap: wrap;
	}

	.brand_logo {
		order: 1;
		flex-basis: 100%;
	}

	.navbar_menu {
		order: 2;
	}

	.dropdown_menu {
		top: 160px;
	}
}

@media all and (max-width: $tablet_breakpoint) {
	#site_navbar {
		height: 60px;
		position: sticky;
		top: 0;
		z-index: 100;
	}

	.desktop_navbar {
		display: none;
	}

	.mobile_navbar {
		display: flex;
	}

	.brand_logo {
		flex: 2 2 0;
		order: 2;
		
		font-size: 24px;
		line-height: 28px;
	}
}

@media all and (max-width: $mobile_breakpoint) {
	#site_navbar {
		padding: 4px 8px;
	}
}