@mixin textbutton($background_color, $text_color) {
    padding: 8px 16px;
    background-color: $background_color;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    color: $text_color;

    border-radius: 4px;
}

@mixin button($background_color, $text_color) {
    height: 36px;

    font-family: $main_font_family;
    font-size: $main_font_size;
    font-weight: 600;
    line-height: 20px;
    color: $text_color;

    border: 0;
    border-radius: 4px;
}